# {{ gen.name(element) }}

{{ element.description }}

URI: {{ gen.uri_link(element) }}


{% if schemaview.class_parents(element.name) %}

## Inheritance

{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}


{% if schemaview.class_children(element.name, mixins=False) %}

## Combinations

{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}


## Slots

| MIxS ID | Name | Multiplicity | Description  | Pattern |
| ---  | ---  | ---  | --- | --- |
{% for s in schemaview.class_induced_slots(element.name) -%}
| {{gen.link(s)}} | {{ s.name }} | {{ gen.cardinality(s) }} {% if s.recommended %}RECOMMENDED{% endif %} | {{s.description}} | {{ s.string_serialization }} |
{% endfor %}

{% include "common_metadata.md.jinja2" %}


{% if schemaview.get_mappings(element.name).items() -%}
## Mappings

| Mapping Type | Mapped Value |
| ---  | ---  |
{% for m, mt in schemaview.get_mappings(element.name).items() -%}
{% if mt|length > 0 -%}
| {{ m }} | {{ mt }} |
{% endif -%}
{% endfor %}

{% endif -%}


## LinkML Specification

### Direct

<details>
```yaml
{{gen.yaml(element)}}
```
</details>

### Induced

<details>
```yaml
{{gen.yaml(element, inferred=True)}}
```
</details>
