# {{ element.name }}

{% if element.title is not none %}
Title: {{ element.title }}
{% endif %}

MIxS ID: ```{{ gen.name(element) }}```

{% if element.description %}
_{{ element.description }}_
{% endif %}

URI: [{{ gen.uri(element) }}]({{ gen.uri(element) }})

{% if schemaview.slot_parents(element.name) or schemaview.slot_children(element.name, mixins=False) %}

## Inheritance

{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}

## Properties

* Range: {{gen.link(element.range)}}
{% if element.multivalued %}
* Multivalued: {{ element.multivalued }}
{% endif %}
{% if element.aliases %}
* Aliases:
    {% for alias in element.aliases -%}
        * {{ alias }}
    {% endfor %}
{% endif %}

{% if element.required %}
* Required: {{ element.required }}
{% elif element.recommended %}
* Recommended: {{ element.recommended }}
{% endif %}

{% include "common_metadata.md.jinja2" %}

## LinkML Source

<details>
```yaml
{{ gen.yaml(element) }}
```
</details>